@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/*geral e header*/

body {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

:root{
    --green-color: rgb(13, 189, 136);
    --whiteGreen--color: rgba(18, 184, 134, 0.103);
    --lightGray--color: rgba(241, 243, 245, 0.534);
    --fontPoppins: font-family: 'Poppins', sans-serif;
    --boxShadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.103);
}

header{
    display: flex;
    width: 100%;
    height: 2.5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

header h1{
    font-size: 1rem;
    font-weight: 600;
    
}

.container{
    width: 95%;
    margin: 0 auto;

}

/*////////////////////////////filtros///////////////////////////////////*/

.filter{
    display: flex;
    flex-direction: column;
}

.filter__buttons{
    overflow-x: auto;
    margin-right: 15px;
}

.filter__buttons{
    display: flex;
    overflow: auto;
    margin-bottom: 1.5rem;
}

.filter__buttons--button{
    display: block;
    background-color: var(--whiteGreen--color);
    color: var(--green-color);
    border-style: none;
    margin: 0.2rem;
    height: 40px;
    border-radius: 7px;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 16px;
    font-family: var(--fontPoppins)
}

.filter__buttons--button:hover{
    cursor: pointer;
}

/*////////////////////////barra de pesquisa///////////////////////////*/

#buttonAll{
    background-color: var(--green-color);
    color: white;
    min-width: 165px;
    padding-right: 0px;
    padding-left: 0px;
}

.filter__search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem
}

.filter__search--input{
    border: none;
    background-color: var(--lightGray--color);
    height: 40px;
    border-radius: 7px;
    font-size: 13px;
    width: 274px;
    padding-left: 8px;
    margin-right: 15px;
    font-family: var(--fontPoppins)
}

.filter__search--button{
    background-color: var(--green-color);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    box-shadow: var(--boxShadow);
}




/*//////////////////////////section carrinho e cards/////////////////////////*/




.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.products__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 16px;
}

.products__list li{
    border-radius: 10px;
    box-shadow: var(--boxShadow);
}

.products__list li:hover{
    background-color: var(--lightGray--color);
    transition: 0.9s;
}

.products__list li img{
    margin-bottom: 15px;
    min-width: 274px;
}

.products__list li span{
    margin-left: 10px;
}

.products__list h3{
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 10px;

}

.products__list li ol{
    list-style-type:decimal;
    margin-left: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.products__list li ol li{
    box-shadow: none;
}

.products__list li div{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.products__list li div p{
    font-weight: 500;
    margin-left: 10px;
    padding-bottom: 7px;
}

.products__list li div button{
    background-color: var(--whiteGreen--color);
    color: var(--green-color);
    border-style: none;
    border-radius: 5px;
    height: 23px;
    margin-bottom: 7px;
}

.products__list li div button:hover{
    cursor: pointer;
    background-color: rgba(18, 184, 134, 0.356);
    transition: 0.5s;
    color: white;
}



.products__cart--top{
    display: flex;
    flex-direction: row;
    background-color: var(--green-color);
    height: 25px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    align-items: center;
    padding-left: 3px;
    box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.103);
}

.products__cart--top img{
    height: 10px;
    padding-right: 4px;
}

.products__cart--top h3{
    color: white;
}

.products__cart--emptyCart{
    box-shadow: var(--boxShadow);
    height: 220px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.products__cart--emptyCart div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.products__cart--emptyCart div img{
    margin: 40px;
    width: 40px;
}

.products__cart--emptyCart div span{
    font-size: 17px
}

@media (min-width: 1000px) {
    .filter{
        flex-direction: row;
        justify-content: space-between;
    }
    .products{
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .products__cart{
        width: 330px;
        margin-left: 20px;
        
    }
}

@media (max-width: 1400px){
    .products__list{
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    header{
        margin-bottom: 1.3rem;
    }
}

@media (max-width: 1495px){
    .products__cart{
        width: 520px;
    }
}

@media (min-width: 2100px){
    .products__cart{
        width: 339px;
    }
}

.products__cart--fullCart{
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    padding-top: 5px;
    box-shadow: var(--boxShadow);
    display: none;
}

.products__cart--fullCart ul{
    overflow-x: auto;
}

.products__cart--fullCart ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.products__cart--fullCart ul li button{
    height: 20px;
    width: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 7px;
}

.products__cart--fullCart ul li button:hover{
    cursor: pointer;
    background-color: rgba(194, 192, 192, 0.479);
    transition: 0.7s;
}

.products__cart--fullCart ul li div{
    display: flex;
    font-weight: 400;
}

.products__cart--fullCart ul li div div{
    display: flex;
    flex-direction: column;
}


.products__cart--fullCart ul li div img{
    width: 70px;
    border-radius: 7px;
    margin-right: 10px;
}

.price{
    display: flex;
    flex-direction: column;
    max-height: 100px;
    min-height: 100px;
    justify-content: space-between;
    font-weight: 500;
}

.price div{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price--gray{
    background-color: var(--lightGray--color);
}

.price div p{
    margin-left: 10px;
}
.price div span{
    margin-right: 10px;
}
